# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

.runtimeconfig.json

src/credentials.json

.DS_Store

keys/firebase-adminsdk-key